@page

@{
    ViewData["Title"] = "Rules";
}

<h1>Rules</h1>
<ul>
    <li>All players must be 30+ years of age by December 1st of the current year</li>
    <li>8v8 (7 on field plus a keeper)</li>
    <li>Subbing on the fly</li>
    <li>No slide tackling</li>
    <li>Games will be played in two halves, 25-45 minutes depending on the season</li>
    <li>Normal rules for out of bounds (throw-ins, corner kicks, goal kicks)</li>
    <li>Goal kicks can not be kicked past the half field line without touching a player, or the opposing team gets the ball on the half field line</li>
    <li>Punting is allowed</li>
    <li>Keepers can throw as far as they can</li>
    <li>No offsides</li>
    <li>Fighting is absolutely not allowed and you will be asked to leave the game, league reserves the right ot kick players out without refunds</li>
    <li>No arguing with the ref</li>
    <li>Teams should bring an alternate color</li>
    <li>Sharing players to/from other teams is grounds for immediate forfeit of your game</li>
    <li>
        Team managers must make payment before the first game (via Paypal/Zelle to <a href="mailto:mikeconger12@gmail.com">mikeconger12@gmail.com</a>
        or Venmo to <a href="https://account.venmo.com/u/michael-conger-7" target="_blank">@@Michael-Conger-7)</a>
    </li>

</ul>
